
.content {
  width: 100%;
  background: #E5E5E5;
  position: relative;
}



.content-mainBlock {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.content-buttonBlock {
  padding-top: 32px;
  padding-bottom: 250px;
}

.content-buttonBlock img {
  max-width: 168px;
  max-height: 50px;

}

.imgAppStore {
  margin-right: 20px;
}

.content-listBlock {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #112A32;
  padding-top: 190px;
}

.content-listBlock li {
  padding-bottom: 28px;
}



.img-mobileScreens {
  position: absolute;
  width: 953px;
  height: 850px;
  bottom: 14px;
  right: 0;
  top: -150px;
  z-index: 10;
}
@media only screen and (min-width: 1700px) and (max-width: 1900px) {
  .img-mobileScreens {
    right: -140px;
  }
}


@media only screen and (min-width: 1200px) and (max-width: 1700px) {
  .img-mobileScreens {
    width: 575px;
    height: 524px;
    top: -100px;
    right: -50px;
    bottom: 0;
  }
  .content-listBlock {
    padding-top: 115px;
  }
}


@media only screen and (min-width: 470px) and (max-width: 1200px) {
  .img-mobileScreens {
    width: 454px;
    height: 405px;
    top: -100px;
    bottom: 0;
    margin: 0 auto;
  }
  .content-listBlock {
    padding-top: 326px;
  }
}
@media only screen and (min-width: 630px) and (max-width: 1200px) {
  .img-mobileScreens {
    left: -5%;
  }

}
@media only screen and (min-width: 1200px) and (max-width: 1370px) {
  .content-listBlock{
    width: 650px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 630px) {
  .img-mobileScreens {
left: -15%;
  }
}
@media only screen and (min-width: 335px) and (max-width: 400px) {
  .img-mobileScreens {
left: -30%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 335px) {
  .img-mobileScreens {
left: -36%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 470px) {
  .img-mobileScreens {
    width: 400px;
    height: 350px;
    top: -12%;
    margin: 0 auto;
  }
  .content-buttonBlock {
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 20px;
  }
  .content-buttonBlock img{
    margin-bottom: 14px;
  }
  .content-listBlock{
    padding-top: 265px;
  }

}


@media only screen and (min-width: 350px) and (max-width: 1700px) {
  .content-buttonBlock{
    padding-bottom: 73px;
  }
}

@media only screen and (min-width: 370px) and (max-width: 1400px) {

  .content-listBlock {
    font-size: 24px;
    line-height: 130%;
  }

  .content-listBlock li {
    padding-bottom: 50px;
  }

  .content-buttonBlock {
    margin-top: 14px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    padding-top: 0;
  }

  .content-buttonBlock img {
    height: 43px;

  }

  .imgGooglePlay {
    width: 151px;
  }

  img .imgAppStore {
    width: 132px;
    margin-right: 0;
  }
}


@media only screen and (min-width: 320px) and (max-width: 370px) {
  .content-buttonBlock img {
    height: 40px;

  }

  .imgGooglePlay {
    width: 141px;
  }

  img .imgAppStore {
    width: 131px;

  }
  .imgAppStore{
    margin-right: 4px;
  }
}
