
.header {
  background: #F1FCFF;
}
.header-mainBlock {
  color: #12C0FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 52px;
}

.header-logoBlock_title {
  font-size: 14px;
  padding-left: 10px;
  font-weight: 400;

}

.header-logoBlock_subtitle {
  padding-top: 30px;
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.045em;
  color: #00BBFF;
  padding-bottom: 46px;
  text-align: center;
  display: flex;
}
@media only screen and (min-width: 1260px) and (max-width: 1520px){
  .header-logoBlock_subtitle-Ru{
    flex-direction: column;
  }
}
@media only screen and (min-width: 780px) and (max-width: 1260px){
  .header-logoBlock_subtitle-Ru{
    flex-direction: row;
  }
}
@media only screen and (min-width: 320px) and (max-width: 780px){
  .header-logoBlock_subtitle-Ru{
    flex-direction: column;
  }
}
@media only screen and (min-width: 320px) and (max-width: 620px){
  .header-logoBlock_subtitle-En{
    flex-direction: column;
  }
}
@media only screen and (min-width: 320px) and (max-width: 670px){
  .header-logoBlock_subtitle-Es{
    flex-direction: column;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1260px){

  .header-logoBlock_subtitle{
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.045em;
  }
  .header-logoBlock {
    padding-top: 46px;
  }
  .header-logoBlock_subtitle{
    padding-bottom: 62px;
    padding-top: 54px;
  }
}
