html,
body{
  height: 100%;
  font-family: 'Montserrat', SansSerif;
  margin: 0;
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

button {
  cursor: pointer;
}
.container {
  width: 80%;
  margin: auto;
  display: block;
}
@media (min-width: 375px) and (max-width: 1200px) {
  .container {
    width: 85%;
  }
}
